{% extends '@App/layout.html.twig' %}

{% block title %}Product {{ product.id }}{% endblock %}

{% block body %}
    <h1>Product {{ product.title}}</h1> <br>
    Title: {{ product.title }} <br>
    Price: {{ product.price }} <br>
    Description: {{ product.description }} <br>
    Category: {{ product.category.name }} <br>
{% endblock %}

{% block stylesheets %}

{% endblock %}
